<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/dashboard/dashboard.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="" class="navbar-brand fw-bold fs-3">{{ user.username|upper}}</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav align-items-center">
                    {% block nav-links %}{% endblock %}
                </div>
            </div>
        </div>
    </nav>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="{% url 'dashboard:impact-matrix' %}" method= "post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="projectName" class="form-label">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="projectName" name="project_name" required>
                </div>
                <button type="submit" class="btn btn-primary">Crear Proyecto</button>
            </form>
        </div>
    </div>
    <!-- Projects Container -->
    <div class="container-fluid container-dotted-bg">
        <p class="fs-4 text fw-semibold">
            Projectos Recientes
        </p>
        <div class="container-xxl">
            {% block recent_projects_block %}{% endblock %}
        </div>
        <hr>
        <p class="fs-4 text fw-semibold">
            Projectos
        </p>
        <div class="container-xxl">
            {% block old_projects_block %}{% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>