{% extends 'dashboard/base.html' %}

{% block nav-links %}
    <a class="nav-link fw-semibold" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Nuevo Projecto</a>
    <a class="nav-link fw-semibold" href="{% url 'dashboard:main' %}">Mi perfil</a>
    <a class="nav-link fw-semibold" href="#">Ayuda</a>
    <a class="nav-link fw-semibold" href="#">Salir</a>
{% endblock %}


{% block content %}
    <p class="fs-4 text fw-semibold">
        Projectos Recientes
    </p>
    <div class="container-xxl">
        <div class="row justify-content-center g-3">
            {% if recent_projects %}
                {% for project in recent_projects %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center">
                        <a href="#" class="text-decoration-none">
                            <div class="card shadow-sm border-0 text-dark text-center p-3 hover-effect">
                                <img src="../../static/dashboard/images/icon.png" alt="Project Image" class="img-fluid mx-auto" style="width: 100px; height: 80px;">
                                <p class="mt-2 fw-semibold">
                                    {{ project.name }}<br>
                                    <small class="text-muted">Created Date: <br>{{ project.creation_date }}</small>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mt-2 fw-semibold">
                    No hay projectos recientes disponibles.
                </p>
            {% endif %}
        </div>
    </div>
    <hr>
    <p class="fs-4 text fw-semibold">
        Projectos
    </p>
    <div class="container-xxl">
        <div class="row justify-content-center g-3">
            {% if old_projects %}
                {% for project in old_projects %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center">
                        <a href="#" class="text-decoration-none">
                            <div class="card shadow-sm border-0 text-dark text-center p-3 hover-effect">
                                <img src="../../static/dashboard/images/icon.png" alt="Project Image" class="img-fluid mx-auto" style="width: 100px; height: 80px;">
                                <p class="mt-2 fw-semibold">
                                    {{ project.name }}<br>
                                    <small class="text-muted">Created Date: <br>{{ project.creation_date }}</small>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mt-2 fw-semibold">
                    No hay projectos disponibles.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

