{% extends 'dashboard/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block nav-links %}
    <a class="nav-link fw-semibold" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Nuevo Projecto</a>
    <a class="nav-link fw-semibold" href="{% url 'dashboard:main' %}">Mi perfil</a>
    <a class="nav-link fw-semibold" href="#">Ayuda</a>
    <a class="nav-link fw-semibold" href="#">Salir</a>
{% endblock %}

{% block CollapseCard %}
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="{% url 'dashboard:impact-matrix' project_id=0 phase_name='preparacion' %}" method= "post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="projectName" class="form-label">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="projectName" name="project_name" autocomplete="off" required>
                </div>
                <h5>Procesos</h5>
                <div class="mb-3">
                    <h6>Fase Preparacion</h6>
                    <button name="preparation[]" type="button" class="btn btn-success" onclick="addInput(this)">Agregar</button>
                </div>
                <div class="mb-3">
                    <h6>Fase Construccion</h6>
                    <button name="construction[]" type="button" class="btn btn-success" onclick="addInput(this)">Agregar</button>
                </div>
                <div class="mb-3">
                    <h6>Fase Mantenimiento</h6>
                    <button name="maintenance[]" type="button" class="btn btn-success" onclick="addInput(this)">Agregar</button>
                </div>
                <button type="submit" class="btn btn-primary" onclick="">Crear Proyecto</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p class="fs-4 text fw-semibold">
        Projectos Recientes
    </p>
    <div class="container-xxl">
        <div class="row justify-content-center g-3">
            {% if recent_projects %}
                {% for project in recent_projects %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center">
                        <a href="{% url 'dashboard:impact-matrix' project_id=project.id phase_name='preparacion' %}" class="text-decoration-none">
                            <div class="card shadow-sm border-0 text-dark text-center p-3 hover-effect">
                                <img src="../../static/dashboard/images/icon.png" alt="Project Image" class="img-fluid mx-auto" style="width: 100px; height: 80px;">
                                <p class="mt-2 fw-semibold">
                                    {{ project.name }}<br>
                                    <small class="text-muted">Created Date: <br>{{ project.creation_date }}</small>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mt-2 fw-semibold">
                    No hay projectos recientes disponibles.
                </p>
            {% endif %}
        </div>
    </div>
    <hr>
    <p class="fs-4 text fw-semibold">
        Projectos
    </p>
    <div class="container-xxl">
        <div class="row justify-content-center g-3">
            {% if old_projects %}
                {% for project in old_projects %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center">
                        <a href="{% url 'dashboard:impact-matrix' project_id=project.id phase_name='preparacion' %}" class="text-decoration-none">
                            <div class="card shadow-sm border-0 text-dark text-center p-3 hover-effect">
                                <img src="../../static/dashboard/images/icon.png" alt="Project Image" class="img-fluid mx-auto" style="width: 100px; height: 80px;">
                                <p class="mt-2 fw-semibold">
                                    {{ project.name }}<br>
                                    <small class="text-muted">Created Date: <br>{{ project.creation_date }}</small>
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mt-2 fw-semibold">
                    No hay projectos disponibles.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        // <input type="text" class="form-control" id="projectName" name="project_name" autocomplete="off" required>

        function addInput(element){
            const parent= element.parentElement;
            const name= element.getAttribute('name');
            const newInput= document.createElement('input');
            newInput.classList.add('form-control')
            newInput.name= name;
            newInput.autocomplete= false;

            parent.insertBefore(newInput, element);
        }
    </script>
{% endblock %}

