{% extends "dashboard/base.html" %}
{% block user-navbar %}
    {% if user.is_authenticated %} 
        {{ user.username }} 
    {% else %}
        Usuario
    {% endif %}
{% endblock %}

{% block projects_list %}
    <div class="row row-cols">
        {% for project in projects %}
            <div class="col-sm">
                <span class="row center">
                    <img src="../../static/dashboard/images/icon.png" alt="Project Image" class="img-fluid" style="width: 100px; height: 100px;">
                </span>
                <span class="row">
                    <p class="text-center text" style="font-size: 15px;">
                        {{ project.name }}<br>{{ project.creation_date }}
                    </p>
                </span>
            </div>
        {% endfor %}
    </div> 
{% endblock %}