.container-dotted-bg {
    background-image: 
        radial-gradient(circle at 1px 1px, #ccc 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: white; 
    min-height: 90vh; 
    padding: 2rem;
}
.g-3 { 
    gap: 1rem;
}
.hover-effect {
    background-color: #f8f9fa;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    border-radius: 10px;
}
.hover-effect:hover {
    background-color: #dee2e6 !important;
    transform: scale(1.05);
    cursor: pointer;
}

td {
    padding: 0.5rem;
    text-align: center;
}

th.rotate {
    height:80px;
    white-space: nowrap;
    position:relative;
}

th.rotate > div {
    transform: rotate(90deg);
    position:absolute;
    left:0;
    right:0;
    top: 10px;
    margin:auto;
}