.container-dotted-bg {
    background-image: 
        radial-gradient(circle at 1px 1px, #ccc 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: white; 
    min-height: 90vh; 
    padding: 2rem;
}
.g-3 { 
    gap: 1rem;
}
.hover-effect {
    background-color: #f8f9fa;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    border-radius: 10px;
}
.hover-effect:hover {
    background-color: #dee2e6 !important;
    transform: scale(1.05);
    cursor: pointer;
}

td {
    padding: 0.5rem;
    text-align: center;
}


table {
    width: 100%;
}

th.rotate {
    height: 150px;  
    width: 40px;
    white-space: nowrap;
    position: relative;
    padding: 0 !important; 
    vertical-align: bottom;
    border: 1px dashed black;
    font-size: 14px;
}

th.rotate > div {
    transform: 
        translateX(-50%)   
        rotate(-90deg);
    transform-origin: center;
    position: absolute;
    left: 50%;
    top: 40%;
    width: 150px;
    text-align: center;
    line-height: 1;
    padding: 5px 0;    
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.impact-cell {
    cursor: pointer;
    transition: background-color 0.2s;
}
.impact-cell:hover {
    background-color: #848586;
}